html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar {
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    margin: 0 58px;
    padding: 25px 5px;
}
.navbar .container {
    margin: 0 58px;
    padding: 25px 5px;
}

.navbar .logo h1 {
    color: #212529;
    position: relative;
    margin: 0;
}

.navbar .logo h1::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 27px;
    left: 109px;
    border-radius: 50%;
    background-color: #CE1212;
}

.navbar .logo a {
    color: #37373f;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.navbar .list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .list a {
    padding: 15px 10px;
    text-decoration: none;
    color: #7f7f90;
    font-size: 17px;
    font-weight: 600;
}

.navbar .list a.active {
    color: #000831;
    border-bottom: 2px solid #CE1212;
}

.navbar .list a:hover {
    border-bottom: 2px solid #CE1212; 
}

.navbar .liteMode {
    cursor: pointer;
    font-size: 20px;
}

.navbar .liteMode i {
    color: #212529;
}

.navbar .liteMode:hover i {
    color: #CE1212;
}

.home {
    background-color: #F5F5F5;
    position: relative;
    overflow: hidden;
}

.home .container {
    padding: 40px 5px;
    margin: 95px 65px 0 65px;
}

.caption {
    width: 40%;
}

.home .caption h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
    font-weight: 700;
    color: #212529;
}

.home .caption p {
    margin-block: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #37373f;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.btn-group .btn {
    background-color: #CE1212;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    transition: background-color 0.3s;
    border-radius: 0px 100vh 100vh;
}

.btn-group .btn:hover {
    background-color: #a60e0e;
}

.video-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-left: 30px;
}

.video-btn .icon {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    box-shadow: 0 0 0 5px #c60000;
}

.fa-play {
    font-size: 14px;
    color: #000;
}

.video-btn:hover {
    color: #c60000;
}

.home .img {
    width: 40%;
}

.home .img img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
    transition: transform 0.5s ease;
}

.home.active .img img {
    transform: rotate(5deg);
}

.home .img img:hover {
    transform: rotate(5deg);
}

.main-title {
    text-align: center;
    margin-bottom: 30px;
}

.main-title h2 {
    color: #7f7f90;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.main-title p {
    font-size: 50px;
    font-weight: 400;
    font-family: "Amatic SC", sans-serif;
    margin: 0;
}

.main-title p span {
    color: #D12222;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.single-card {
    width: 30%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.single-card:hover {
    transform: scale(1.07);
}

.single-card .img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    display: block;
}

.single-card .img-box::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    background-image: url("../img/team-shape.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 60px;
}

.content {
    padding: 10px 25px 25px 25px;
}

.content h3 {
    font-size: 18px;
    margin: 0;
}

.content span {
    font-size: 14px;
    color: #6c757d;
}

.content p {
    font-size: 15px;
    font-style: italic;
    color: #6c757d;
    margin: 0;
}

.social-links {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: -50px;
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
}

.single-card:hover .social-links {
    right: 10px;
}

.social-links a {
    color: rgba(55, 55, 63, 0.4);
    font-size: 18px;
    padding: 8px 4px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: rgba(55, 55, 63, 0.9);
}

.gallery {
    background-color: #EEEEEE;
}

.con {
    padding: 40px 5px;
    margin: 50px 31px;
}

.gallery-photos {
    column-count: 3;
    column-gap: 20px;
}

.photo {
    break-inside: avoid;
    margin-bottom: 20px;
    position: relative;
}

.photo-img-box {
    display: block;
    overflow: hidden;
    position: relative;
}

.photo-img-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.layer {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: top 0.5s ease;
    pointer-events: none;
}
.layer p{
    font-size: 15px;
    margin: 0;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo:hover .layer {
    top: 0;
}

.contact {
    margin: 50px 67px;
    padding: 40px 5px;
}

.contact iframe {
    width: 100%;
    height: 350px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-block: 25px; 
}

.address, .email, .phone, .hours {
    width: 49%; 
    padding: 20px; 
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.address h3, .email h3, .phone h3, .hours h3 {
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.address p, .email p, .phone p, .hours p {
   margin: 0;
}


.contact .icon {
    width: 50px;
    height: 50px;
    background-color: #CE1212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contact .icon i {
    color: #fff;
    font-size: 20px;
}
a{
    color: inherit;
    text-decoration: none;
}
.contact-form {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    gap: 15px;
  }
  
  .input-row {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  
  .input-field {
    width: 96%;
    padding: 15px;
    font-family: inherit;
    line-height: 1.5;
    border: 2px solid #ccc;
    color: #212529;
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #CE1212;
  }
  
  .contact-form textarea {
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
  }
  
  .submit-btn {
    padding: 12px 40px;
    margin-top: 25px;
    width: auto;
    font-family: inherit;
    background-color: #CE1212;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../IMG/textured-metal-background.jpg);
}

.footer .con {
    color: #fff;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 5px;
    margin: 0 67px;
}

.about-section,
.contact-info {
    width: 24%;
}

.newsletter-section {
    width: 48%; 
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    margin: 0;
}

.about-section p,
.newsletter-box p {
    margin: 10px 0;
}

.about-section img {
    width: 40px;
    height: 40px;
}

.about-section h3 {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}

.newsletter-box h3,
.contact-info h3 {
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    margin: 0;
}

.about-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.social-icons i {
    font-size: 24px;
    color: #fff;
}

.subscription-input {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.subscription-input input {
    flex-grow: 1;
    padding: 10px;
}

.subscribe-button {
    padding: 10px;
    background-color: #CE1212;
    color: #fff;
    border: 0;
}

.links-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.links-section h3 {
    margin-bottom: 10px;
}

.links-columns {
    display: flex;
    justify-content: space-between;
}

.links-column {
    width: 48%;
}

.links-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links-column ul li {
    padding: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.links-column ul li a {
    text-decoration: none;
    color: #fff;
}

.links-column ul li:hover {
    transform: translateX(10px);
    background-color: #222;
}

.links-column ul li::before {
    content: "\f105";
    font: normal 16px FontAwesome;
    margin-right: 5px;
}

.contact-info ul {
    margin: 0;
    padding: 0;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.contact-info ul li i {
    width: 40px;
    height: 40px;
    display: flex;
    color: #CE1212;
    font-size: 22px;
}
/*Responsive*/
/* Mobile */
@media (max-width: 576px) {
    .home .caption{
        width: 100%;
        margin: 30px;
    }
    .home .img {
        width: 100%;
        margin: 30px;

    }
    .home .caption p {
        margin-block: 10px;
        font-size: 10px; 
        color: #37373f;
    }
    .home .caption h2 {
        font-size: 30px;
        font-weight: 700;
        color: #212529;
    }
    .layer p {
        font-size: 15px;
        margin: 0;
    }
    .layer h2 {
        font-size: 18px;
        margin: 0;
    }
    
    .navbar .container {
        margin: 0 10px;
    }

    .home .container {
        margin: 40px 15px 0 15px;
    }

    .btn-group {
        gap: 10px;
    }

    .gallery-photos {
        column-count: 1;
        column-gap: 10px;
    }

    .main-title p {
        font-size: 30px;
    }
    .single-card {
        width: 100%;
    }


    .cards {
        gap: 5px;
    }

    .contact iframe {
        height: 250px;
    }

    .input-row {
       
        gap: 5px;
    }

    form input, form textarea {
        padding: 10px;
    }

    form button[type="submit"] {
        padding: 10px 30px;
    }

    .footer .con {
        margin: 0 15px;
        flex-direction: column;
    }

    .about-section, .contact-info, .newsletter-section {
        width: 100%;
    }

    .address, .email, .phone, .hours {
        width: 100%;
    }
}

/*Tab */
@media (min-width: 576px) and (max-width: 768px) {
    .layer p {
        font-size: 8px;
        margin: 0;
    }
    
    .navbar .container {
        margin: 0 20px;
    }

    .home .container {
        margin: 50px 30px 0 30px;
        flex-direction: column;
    }

    .caption {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .btn-group {
        justify-content: center;
    }

    .btn-group .btn {
        padding: 8px 15px;
        font-size: 13px;
    }

    .gallery-photos {
        column-count: 2;
        column-gap: 10px;
    }

    .home .img {
        width: 100%;
        margin-top: 20px;
    }

    .cards {
        gap: 10px;
    }

    .single-card {
        width: 100%;
    }

    .main-title h2 {
        font-size: 10px;
    }

    .main-title p {
        font-size: 35px;
    }

    .address, .email, .phone, .hours {
        width: 100%;
    }

    .about-section, .contact-info, .newsletter-section {
        width: 100%;
    }

    .footer .con {
        margin: 0 15px;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
}

/* lab */
@media (min-width: 768px) and (max-width: 1200px) {
    .address, .email, .phone, .hours {
        width: 49%;
    }

   
}
